{% extends "layout.html" %}
{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th> 
                {% if sortby == 'name' and desc == True %}
                    <a href="{{url_for('actors_sorted', sortby = 'nameasc')}}">Actors</a>
                {% else %}
                    <a href ="{{url_for('actors_sorted', sortby = 'name'">Actors</a>
                {% endif %}
            </th>
            <th><a href="{{url_for('actors_sorted', sortby = 'nationality')}}">Nationality</a></th>
            <th><a href="{{url_for('actors_sorted', sortby = 'age')}}">Age</a></th>
            {% if current_user.urole == "ADMIN" %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for actor in actors%}
        <tr>
            <td><a href="{{url_for('actors_show',  actor_id = actor.id)}}">{{actor.name}}</a></td>
            {% if not actor.nationality == null %}
                <td>{{actor.nationality}}</td>
            {% endif %}
            {% if not actor.age == null %}
                <td>{{actor.age}}</td>
            {% endif %} 
            {% if current_user.urole=="ADMIN" %}
            <td>
                <a href="{{ url_for('actors_edit', actor_id=actor.id )}}">
                    Edit
                </a>
            </td>
            <td>
                <a href="{{ url_for('actors_delete', actor_id=actor.id) }}">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>   
        
        {% endfor %}
    </table>
{% endblock %}