{% extends "layout.html" %}
{% block body %}
    <table class="table table-bordered table-dark">
        <tr style="background-color:#292F33">
            <th> 
                {% if sortby == 'name' and desc == False %}
                    <a href="{{url_for('actors_sorted', sortby = 'namedesc')}}">Actors</a>
                {% else %}
                    <a href ="{{url_for('actors_sorted', sortby = 'name')}}">Actors</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'nationality' and desc == False %}
                    <a href="{{url_for('actors_sorted', sortby = 'nationalitydesc')}}">Nationality</a>
                {% else %}
                    <a href="{{url_for('actors_sorted', sortby = 'nationality')}}">Nationality</a>
                {% endif %}
            </th>
            <th>

                {% if sortby == 'age' and desc == False %}
                    <a href="{{url_for('actors_sorted', sortby = 'agedesc')}}">Age</a>
                {% else %}
                    <a href="{{url_for('actors_sorted', sortby = 'age')}}">Age</a>
                {% endif %}
            </th>
           
        </tr>
        {% for actor in actors%}
        <tr style="background-color:#2c3238; color:#d9dee0">
            <td><a href="{{url_for('actors_show',  actor_id = actor.id)}}">{{actor.name}}</a></td>
            {% if not actor.nationality == null %}
                <td>{{actor.nationality}}</td>
            {% endif %}
            {% if not actor.age == null %}
                <td>{{actor.age}}</td>
            {% endif %} 
            {% if current_user.urole=="ADMIN" %}
            <td style="background-color:rgb(28, 36, 40);border:rgb(28, 36, 40);padding:0.5%">
                <a style="width:100%" class="btn btn-primary" href="{{ url_for('actors_edit', actor_id=actor.id )}}">
                    Edit
                </a>
            </td>
            <td style="background-color:rgb(28, 36, 40);border:rgb(28, 36, 40);padding:0.5%">
                <a style="width:100%" class="btn btn-danger" href="{{ url_for('actors_delete', actor_id=actor.id) }}">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>   
        
        {% endfor %}
    </table>
{% endblock %}