{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h3>
        {{ actor.name }}
    </h3>
    {% if actor.bio != None %}
        <p> {{ actor.bio }}</p>
    {% endif %}
   
    {% if avg_rating != None %}
        {{actor.name}}'s films have been given an average rating of <strong>{{avg_rating}}</strong>
    {% else %}
        {{actor.name}}'s  films have not yet been rated
    {% endif %}
    {% if films != None and films.__len__() > 0 %}
        <table class = "table table-bordered table-striped">
            <tr>
                <th>Films</th>
            </tr>
            {% for film in films %}
                <tr>
                    <td>
                        <a href="{{url_for('films_show', film_id=film.id)}}">{{film.name}}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <p>
        <a href="{{ url_for('actors_index')}}">back to list</a>
    </p>
</div>
{% endblock %}