{% extends "layout.html" %}
{% block body %}

<h3>
    {{ actor.name }}
</h3>
{% if actor.bio != None %}

    
    <p> {{ actor.bio }}</p>

{% endif %}
<table class = "table table-bordered table-striped">
    <tr>
        <th>Films</th>
    </tr>
    {% for film in films %}
        <tr>
            <td>
                <a href="{{url_for('films_show', film_id=film.id)}}">{{film.name}}</a>
            </td>
        </tr>
    {% endfor %}
</table>
<p>
    <a href="{{ url_for('actors_index')}}">back to list</a>
</p>
{% endblock %}