{% extends "layout.html" %}

{% block body %}
<br/>
<form method="POST" action="{{url_for('update_password', user_id= user_id) }}">
    
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h4>Change password</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <table>
                    <style>
                        td {background-color:rgba(0,0,0,0)}
                    </style>
                    <tr>
                        <td>
                            {{ form.password.label(style="color:#999fa3")}}
                        </td>
                        <td>
                            {{form.password(style="width:100%;background-color:#2c3238;color:#999fa3;border-color:#292F33")}}
                        </td>
                        <td>
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.confirm.label(style="color:#999fa3")}}
                        </td>
                        <td>
                            {{form.confirm(style="background-color:#2c3238;color:white;border-color:#292F33")}}
                        </td>
                        <td>
                            {% for error in form.confirm.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                   
                    <tr><td></td>
                        <td colspan="2">
                            <Button type="submit" class="btn btn-outline-primary">Submit</Button>
                            
                        </td>
                    
                    </tr>
                
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}