{% extends "layout.html" %}
{% block body %}



<div class="container">
    
    <div class="row">
        {% if recent_films != None %}
            <div class="col-md">
                <h5>Recent Films</h5>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Film</th>
                    </tr>
                    {% for film in recent_films %}
                        <tr>
                        
                            <td>
                                <a href="{{ url_for('films_show', film_id=film[1])}}">{{film[0]}}</a>
                            </td>
                        
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if recent_reviews != None %}
            <div class="col-md">
                <h5>Recent Reviews</h5>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Film</th>
                        <th>Reviewer</th>
                        <th>Score</th>
                        <th>Title</th>
                    </tr>
                    {% for review in recent_reviews %}
                        <tr>
                        
                            <td>
                                <a href="{{ url_for('films_show', film_id=review[1])}}">{{review[0]}}</a>
                            </td>
                            <td>
                                {{review[2]}}
                            </td>
                            <td>
                                {{review[4]}}
                            </td>
                            <td>
                                <a href="{{url_for('ratings_show', film_id = review[1], user_id = review[3])}}">{{review[6]}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% if top_films != None %}
            <div class="col-md">
                <h5>Top Films</h5>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Film</th>
                        <th>Rating</th>
                    </tr>
                    {% for film in top_films %}
                        <tr>
                        
                            <td>
                                <a href="{{ url_for('films_show', film_id=film[1])}}">{{film[0]}}</a>
                            </td>
                            <td>
                                {{film[2]}}
                            </td>
                        
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if top_directors != None %}
            <div class="col-md">
                <h5>Top Directors</h5>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Director</th>
                        <th>Rating</th>
                    </tr>
                    {% for director in top_directors %}
                        <tr>
                        
                            <td>
                                <a href="{{ url_for('directors_show', director_id=director[1])}}">{{director[0]}}</a>
                            </td>
                            <td>
                                {{director[2]}}
                            </td>
                        
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if top_actors != None %}
            <div class="col-md">
                <h5>Top Actors</h5>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Actors</th>
                        <th>Rating</th>
                    </tr>
                    {% for actor in top_actors %}
                        <tr>
                        
                            <td>
                                <a href="{{ url_for('actors_show', actor_id=actor[1])}}">{{actor[0]}}</a>
                            
                            </td>

                            <td>
                                {{actor[2]}}
                            </td>
                        
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm">
            <a class="twitter-timeline" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/KufdonHS/lists/film-twitter?ref_src=twsrc%5Etfw">Film Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
{% endblock %}