{% extends "layout.html" %}
{% block body %}

<h2>
    Welcome to FilmRatings!
</h2>
<br/>
{% if top_films != None %}


<h3>Top Films</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Film</th>
            <th>Rating</th>
        </tr>
        {% for film in top_films %}
            <tr>
               
                <td>
                    <a href="{{ url_for('films_show', film_id=film[1])}}">{{film[0]}}</a>
                </td>
                <td>
                    {{film[2]}}
                </td>
               
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if top_directors != None %}

<h3>Top Directors</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Director</th>
            <th>Rating</th>
        </tr>
        {% for director in top_directors %}
            <tr>
               
                <td>
                    <a href="{{ url_for('directors_show', director_id=director[1])}}">{{director[0]}}</a>
                </td>
                <td>
                    {{director[2]}}
                </td>
               
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if top_directors != None %}

<h3>Top Actors</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Actors</th>
            <th>Rating</th>
        </tr>
        {% for actor in top_actors %}
            <tr>
               
                <td>
                    <a href="{{ url_for('actors_show', actor_id=actor[1])}}">{{actor[0]}}</a>
                   
                </td>

                <td>
                    {{actor[2]}}
                </td>
               
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}