<!DOCTYPE html>
<html style="height:100%">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Filmratings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body style="min-height:100%;  background-color:rgba(2, 8, 19, 0.905); color:#d9dee0">
    <style>
      a {color:rgb(119, 186, 238)}
      th {background-image:linear-gradient(rgba(25, 27, 29, 0.3), rgba(25, 27, 29, 0));color:#d9dee0}
      td {background-color: #343a407e;color:#d9dee0}
      
    </style>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-4">
      <a href="/" class="navbar-brand" href="#">FilmRatings</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('films_index') }}">Films</a>
          </li>
          {% if current_user.urole == "ADMIN" %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('films_form') }}">Add a Film</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('directors_index') }}">Directors</a>
          </li>
          {% if current_user.urole == "ADMIN" %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('directors_form') }}">Add a Director</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('actors_index') }}">Actors</a>
          </li>
          {% if current_user.urole == "ADMIN" %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('actors_form') }}">Add an Actor</a>
            </li>
          {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('reviews_index') }}">Reviews</a>
            </li>
          {% if current_user.urole == "DEFAULT" %}
            
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('ratings_form') }}">Review a Film</a>
            </li>
          {% endif %}
          {% if current_user.urole == "ADMIN" %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('ratings_index') }}">All Ratings</a>
            </li>
          {% endif %}
        </ul>
        <div class ="form-inline ">
            <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{current_user.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navDropdown" style="background-color:#2c3238">
                    {% if current_user.urole == "DEFAULT" %}
                    <a class="dropdown-item" href="{{url_for('user_ratings_index') }}" style="color:#6c757d">My Ratings</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('user_profile', user_id = current_user.id) }}" style="color:#6c757d">Profile</a>
                    <a class="dropdown-item" href="{{ url_for('user_settings', user_id = current_user.id) }}" style="color:#6c757d"> Settings</a>
                    <a class="dropdown-item" href="{{ url_for('change_password', user_id = current_user.id) }}" style="color:#6c757d"> Change Password</a>
                    <a class="dropdown-item" href="{{ url_for('auth_logout') }}" style="color:#6c757d"> Logout</a>
                </div>
            </li>
            </ul>
            <div class="col-sm"></div> <!--leaves empty space on the right side of the navbar-->
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            {% else %}
            <div class="container">
              <div class="row">
                <div class="col-md">
                  <a class="nav-link" href="{{ url_for('auth_login') }} "> Login </a>
                </div> 
                <div class="col-md">
                  <a class="nav-link" href="{{ url_for('signup_form') }}" >Register </a> 
                </div>
              </div>
            </div>
            {% endif %}
        </div>
      </div>
    </nav>
    <div class="container" style="font-size:48%""><br/><br/><br/><br/><br/></div>
    <main role="main" class="container">
      {% block body %}
      <p>
        Content
      </p>
      {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
    
  
</html>