<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   
    <title>Filmratings</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
      Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }} "> Kirjaudu</a>
    <a href="{{ url_for('signup_form') }}">Signup</a> 
    {% endif %}
    <ul>
      <li><a href="{{ url_for('films_index') }}">List Films</a></li>
      <li><a href="{{ url_for('films_form') }}">Add a Film</a></li>
      <li><a href="{{url_for('directors_index') }}">List Directors</a></li>
      <li><a href="{{url_for('directors_form') }}">Add a Director</a></li>
    </ul>
    {% block body %}
    <h1>
  Tähän tuodaan sisältö muualta.
    </h1>
    {% endblock %}
  </body>
</html>