{% extends "layout.html" %}
{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>Films</th>
            <th>Director</th>
            {% if current_user.urole == "ADMIN" %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for film in films%}
        <tr>
            <td><a href="{{ url_for('films_show', film_id=film.id )}}">{{film.name}}</a></td>
            <td>
                {% if not film.director_id == null %}
                    {% for director in directors %}
                        {% if film.director_id == director.id %}
                            <a href="{{url_for('directors_show', director_id = director.id)}}">{{director.name}}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
            {% if current_user.urole=="ADMIN" %}
            <td>
                <a href="{{ url_for('films_edit', film_id=film.id )}}">
                    Edit
                </a>
            </td>
            <td>
                <a href="{{ url_for('films_delete', film_id=film.id) }}">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}