{% extends "layout.html" %}

{% block body %}
<br/>
{{ error }}

<form method="POST" action="{{ url_for('auth_login') }}">
    <table>
        <style>
            td {background-color:rgba(0,0,0,0) !important}
        </style>
        <tr>
            <td>
                {{ form.username.label(style="color:#999fa3")}}
            </td>
            <td>
                {{ form.username(style="background-color:#2c3238;color:white;border-color:#292F33")}}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label(style="color:#999fa3")}}
            </td>
            <td>
                {{ form.password(style="background-color:#2c3238;color:white;border-color:#292F33")}}
            </td>
        </tr>
        <tr><td></td>
            <td colspan="2">
                <Button type="submit" class="btn btn-outline-primary">Login</Button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}