{% extends "layout.html" %}
{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                {% if sortby == 'film' and desc == False %}
                    <a href="{{url_for('ratings_index_sorted', sortby='filmdesc')}}">Film</a>
                {% else %}
                    <a href="{{url_for('ratings_index_sorted', sortby='film')}}">Film</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'score' and desc == False %}
                    <a href="{{url_for('ratings_index_sorted', sortby='scoredesc')}}">Score</a>
                {% else %}
                    <a href="{{url_for('ratings_index_sorted', sortby='score')}}">Score</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'user' and desc == False %}
                    <a href="{{url_for('ratings_index_sorted', sortby='userdesc')}}">User</a>
                {% else %}
                    <a href="{{url_for('ratings_index_sorted', sortby='user')}}">User</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'reviewed' and desc == False %}
                    <a href="{{url_for('ratings_index_sorted', sortby='revieweddesc')}}">Review</a>
                {% else %}
                    <a href="{{url_for('ratings_index_sorted', sortby='reviewed')}}">Review</a>
                {% endif %}
            </th>
            <th></th>
        </tr>
        {% for rating in ratings%}
        <tr>
            <td> 
                <a href="{{ url_for('films_show', film_id=rating[1])}}">{{rating[0]}}</a>   
            </td>
            <td>
                {{rating[4]}}
            </td>
            <td> 
                <a href="{{ url_for('user_profile', user_id=rating[3] )}}">{{rating[2]}}</a>
            </td> 
            <td>
            {% if rating[5].__len__() > 0 %}
                <a href="{{ url_for('ratings_show', film_id=rating[1], user_id = rating[3])}}">Review</a>
            {% endif %}
            </td>
            <td>
                <a href="{{ url_for('ratings_delete', film_id=rating[1], user_id = rating[3])}}">Delete</a>
            </td>
        </tr>
            
        {% endfor %}
    </table>
{% endblock %}