{% extends "layout.html" %}
{% block body %}
<br/>
    <table class="table table-bordered table-dark">
        <tr style="background-color:rgb(37, 44, 48)">
            <th>
                {% if sortby == 'film' and desc == False %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0"  href="{{url_for('ratings_index_sorted', sortby='filmdesc')}}">Film</a>
                {% else %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0" href="{{url_for('ratings_index_sorted', sortby='film')}}">Film</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'score' and desc == False %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0"  href="{{url_for('ratings_index_sorted', sortby='scoredesc')}}">Score</a>
                {% else %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0"  href="{{url_for('ratings_index_sorted', sortby='score')}}">Score</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'user' and desc == False %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0" href="{{url_for('ratings_index_sorted', sortby='userdesc')}}">User</a>
                {% else %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0"  href="{{url_for('ratings_index_sorted', sortby='user')}}">User</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'review' and desc == False %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0"  href="{{url_for('ratings_index_sorted', sortby='reviewdesc')}}">Review</a>
                {% else %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0"  href="{{url_for('ratings_index_sorted', sortby='review')}}">Review</a>
                {% endif %}
            </th>
        </tr>
        {% for rating in ratings%}
        <tr style="background-color:#2c3238;color:#d9dee0">
            <td> 
                <a href="{{ url_for('films_show', film_id=rating[1])}}">{{rating[0]}}</a>   
            </td>
            <td>
                {{rating[4]}}
            </td>
            <td> 
                <a href="{{ url_for('user_profile', user_id=rating[3] )}}">{{rating[2]}}</a>
            </td> 
            <td>
            {% if rating[5] != None and rating[5].__len__() > 0 %}
                <a href="{{ url_for('ratings_show', film_id=rating[1], user_id = rating[3])}}">{{rating[6]}}</a>
            {% endif %}
            </td>
            <td style="background-color:rgb(28, 36, 40);border:rgb(28, 36, 40)">
                <a class="btn btn-outline-danger" href="{{ url_for('ratings_delete', film_id=rating[1], user_id = rating[3])}}">Delete</a>
            </td>
        </tr>
            
        {% endfor %}
    </table>
{% endblock %}