{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{url_for('ratings_create') }}">
    <table>
        <tr>
            <td>
                {{ form.film.label }}
            </td>
            <td>
                {{ form.film }}
            </td>
            
        </tr>
        
        <tr>
                <td>
                    {{ form.score.label}}
                </td>
                <td>
                    {{form.score}}
                </td>
            </tr>
        <tr>
            <td colspan="2">
                <Button type="submit" class="btn btn-primary">Submit</Button>
            </td>
        </tr>
    </table>
    
</form>
{% endblock %}