{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h3>
        {{ film.name }}
    </h3>
    <br/>
    
    {% if rating.title != None %}
        <h5>{{rating.title}}</h5>
    {% endif %}
    {% if rating.review != None %}
        <p>{{rating.review}}</p>
        <br/>Reviewed by {{user.username}}
        {% else %}
            Rated by {{user.username}}
    {% endif %}

            

    <p>Score: <strong>{{rating.score}}/10</strong></p>
    <p>
        <a href="{{ url_for('reviews_index')}}">back to list</a>
    </p>
</div>
{% endblock %}
