{% extends "layout.html" %}
{% block body %}
<br/>
    <table class="table table-bordered table-dark">
        <tr>
            <th> 
                {% if sortby == 'name' and desc == False %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0" href="{{url_for('directors_sorted', sortby = 'namedesc')}}">Directors</a>
                {% else %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0" href="{{url_for('directors_sorted', sortby = 'name')}}">Directors</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'nationality' and desc == False %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0" href="{{url_for('directors_sorted', sortby = 'nationalitydesc')}}">Nationality</a>
                {% else %}
                    <a class="btn"style="width:100%;padding-left:0;text-align:left;color:#d9dee0" href="{{url_for('directors_sorted', sortby = 'nationality')}}">Nationality</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'age' and desc == False %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0" href="{{url_for('directors_sorted', sortby = 'agedesc')}}">Age</a>
                {% else %}
                    <a class="btn" style="width:100%;padding-left:0;text-align:left;color:#d9dee0" href="{{url_for('directors_sorted', sortby = 'age')}}">Age</a>
                {% endif %}
            </th>
            {% if current_user.urole=="ADMIN" %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for director in directors%}
        <tr>
            <td><a href="{{url_for('directors_show', director_id = director.id)}}">{{director.name}}</a></td>
            <td>
                {% if not director.nationality == None %}
                    {{director.nationality}}
                {% endif %}
            </td>
            <td>
                {% if not director.age == None %}
                    {{director.age}}
                {% endif %} 
            </td>
            {% if current_user.urole=="ADMIN" %}
            <td style="padding:0.5%">
                <a style="width:100%" class="btn"href="{{ url_for('directors_edit', director_id=director.id )}}">
                    Edit
                </a>
            </td>
            <td style="padding:0.5%">
                <a style="width:100%; color:rgb(180, 44, 44)" class="btn"href="{{ url_for('directors_delete', director_id=director.id) }}">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>   
        
        {% endfor %}
    </table>
{% endblock %}