{% extends "layout.html" %}
{% block body %}
    <table class="table table-borderless table-dark">
        <tr style="background-color:#292F33">
            <th> 
                {% if sortby == 'name' and desc == False %}
                    <a href="{{url_for('directors_sorted', sortby = 'namedesc')}}">Directors</a>
                {% else %}
                    <a href="{{url_for('directors_sorted', sortby = 'name')}}">Directors</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'nationality' and desc == False %}
                    <a href="{{url_for('directors_sorted', sortby = 'nationalitydesc')}}">Nationality</a>
                {% else %}
                    <a href="{{url_for('directors_sorted', sortby = 'nationality')}}">Nationality</a>
                {% endif %}
            </th>
            <th>
                {% if sortby == 'age' and desc == False %}
                    <a href="{{url_for('directors_sorted', sortby = 'agedesc')}}">Age</a>
                {% else %}
                    <a href="{{url_for('directors_sorted', sortby = 'age')}}">Age</a>
                {% endif %}
            </th>
            
        </tr>
        {% for director in directors%}
        <tr style="background-color:#2c3238;color:#d9dee0">
            <td><a href="{{url_for('directors_show', director_id = director.id)}}">{{director.name}}</a></td>
            {% if not director.nationality == null %}
                <td>{{director.nationality}}</td>
            {% endif %}
            {% if not director.age == null %}
                <td>{{director.age}}</td>
            {% endif %} 
            {% if current_user.urole=="ADMIN" %}
            <td style="background-color:rgb(28, 36, 40);border:rgb(28, 36, 40);padding:0.5%">
                <a style="width:100%" class="btn btn-primary"href="{{ url_for('directors_edit', director_id=director.id )}}">
                    Edit
                </a>
            </td>
            <td style="background-color:rgb(28, 36, 40);border:rgb(28, 36, 40);padding:0.5%">
                <a style="width:100%" class="btn btn-danger"href="{{ url_for('directors_delete', director_id=director.id) }}">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>   
        
        {% endfor %}
    </table>
{% endblock %}