{% extends "layout.html" %}
{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>Directors</th>
            <th>Nationality</th>
            <th>Age</th>
        </tr>
        {% for director in directors%}
        <tr>
            <td><a href="{{url_for('directors_show', director_id = director.id)}}">{{director.name}}</a></td>
            {% if not director.nationality == null %}
                <td>{{director.nationality}}</td>
            {% endif %}
            {% if not director.age == null %}
                <td>{{director.age}}</td>
            {% endif %} 
            {% if current_user.urole=="ADMIN" %}
            <td>
                <a href="{{ url_for('directors_edit', director_id=director.id )}}">
                    Edit
                </a>
            </td>
            <td>
                <a href="{{ url_for('directors_delete', director_id=director.id) }}">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>   
        
        {% endfor %}
    </table>
{% endblock %}