{% extends "layout.html" %}

{% block body %}
<br/>
<form method="POST" action="{{url_for('directors_create') }}">
    <table>
        <style>
            td {background-color:rgba(0,0,0,0) !important}
        </style>
        <tr>
            <td>
                {{ form.name.label(style="color:#999fa3")}}
            </td>
            <td>
                {{ form.name(style="width:100%;background-color:#2c3238;color:#999fa3;border-color:#292F33")}}
            </td>
            <td>
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.nationality.label(style="color:##d9dee0")}}
            </td>
            <td>
                {{form.nationality(style="width:100%;background-color:#2c3238;color:#d9dee0;border-color:#292F33")}}
            </td>
            <td>
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{form.age.label(style="color:#d9dee0")}}
            </td>
            <td>
                {{form.age(style="width:100%;background-color:#2c3238;color:#d9dee0;border-color:#292F33")}}
            </td>
            <td>
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{form.bio.label(style="color:#d9dee0")}}
            </td>
            <td>
                {{form.bio(cols=70, rows=3, style="width:100%;background-color:#2c3238;color:##d9dee0;border-color:#292F33")}}
            </td>
            <td>
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <Button type="submit" class="btn btn-outline-primary">Submit</Button>
            </td>
        </tr>
    </table>
    
</form>
{% endblock %}