{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{url_for('directors_create') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.nationality.label}}
            </td>
            <td>
                {{form.nationality}}
            </td>
        </tr>
        <tr>
            <td>
                {{form.age.label}}
            </td>
            <td>
                {{form.age}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <Button type="submit" class="btn btn-primary">Submit</Button>
            </td>
        </tr>
    </table>
    
</form>
{% endblock %}