{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h3>
        {{ director.name }}
    </h3>
    {% if director.bio != None %} 
        <p> {{ director.bio }}</p>
    {% endif %}
  
    {% if avg_rating != None %}
        {{director.name}}'s movies have been given an average rating of <strong>{{avg_rating}}</strong>
    {% else %}
        {{director.name}}'s movies have not yet been rated
    {% endif %}
    {% if films.first() != None %}
        <table class = "table table-bordered table-dark">
            <tr style="background-color:#292F33">
                <th>Films</th>
            </tr>
            {% for film in films %}
            <tr style="background-color:#2c3238">
                <td>
                    <a href="{{url_for('films_show', film_id=film.id)}}">{{film.name}}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <p>
        <a href="{{ url_for('directors_index')}}">back to list</a>
    </p>
</div>
{% endblock %}